<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechLab: Computer Parts, PC Components, Gaming Systems, Automotive Parts, Office Supplies, and more </title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <img class="logo" src="assets/logo.svg" alt="logo">

    <nav>

      <ul class="nav_links">
        <li><a href="/">Home</a> </li>
        <li><a href="register">Sign in / Register</a> </li>
      
      </ul>
    </nav>
    <a class="cta" href="https://t.me/tanuki_tech"><button>Contact</button></a>
  </header>
  <div id="productbox" class="container">
    <div class="row5">
      <div class="column5"><img src="assets/applemonitor.jpg" alt="" width="90%"></div>
      <div class="column5">
        <h1 id="productdetails">Product details</h1>
        <hr>
        <p class="productfont"><strong>Name: Studio Display</strong></p>
        <hr>
        <ul style="list-style-type:none;">
          <li>5K Retina display</li>
          <li>27-inch (diagonal)</li>
          <li>5120-by-2880 resolution</li>
          <li>600 nits brightness</li>
          <li>Support for 1 billion colors</li>
          <li>Wide color (P3)</li>
          <hr>
        <p class="productfont"><strong>Price:$1,599</strong></p>
        <a href="payment"><button class="btn buy">Buy</button></a>
      </div>
    </div>
  </div>

  <footer>
    <!-- footer code goes here -->
    <div class="top-section">
      <div id="contact">
        <h3 class="ball">Contact Us</h3>
        <p class="ball">+7(747)9618827</p>
        <p class="ball">TechLab@gmail.com</p>
      </div>
      <div id="info">
        <h3 id="information">Information</h3>
        <ul class="ball">
          <li class="ball"><a class="ball" href="about_us">About Us</a></li>

        </ul>
      </div>


    </div>
    <hr>
    <p class="ball">© 2022 TechLab Inc.</p>
  </footer>
</body>

</html>
