<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechLab: Computer Parts, PC Components, Gaming Systems, Automotive Parts, Office Supplies, and more </title>
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <header>
    <img class="logo" src="assets/logo.svg" alt="logo">

    <nav>

      <ul class="nav_links">
        <li><a href="/">Home</a> </li>
        <li><a href="register">Sign in / Register</a> </li>
      
      </ul>
    </nav>
    <a class="cta" href="https://t.me/tanuki_tech"><button>Contact</button></a>
  </header>
  <div class="container">
    <img id="componentspage" src="assets/componentspage.jpg" alt="componentspage">
    <div class="catcomputers">
      <h2>Categories</h2>
      <ul style="list-style-type:none;">
      <li>Monitors</li>
      <li>Motherboards</li>
      <li>Graphics cards</li>
      <li>Computer memory</li>
      </ul >
      <h2>Brands</h2>
      <ul style="list-style-type:none;">
      <li>Apple</li>
      <li>Samsung</li>
      <li>Gygabyte</li>
      <li>Nvidia</li>
      <li>Xidax</li>
      <li>MainGear</li>
      <li>Digital Storm</li>
      </ul>
    </div>
    <div id="cards">
      <div class="row">
        <div class="column">
          <div class="card">
            <a href="applemonitor"><img src="assets/applemonitor.jpg" alt="applemonitor" class="cards"></a>
            <p class="transparent">Apple monitor</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="samsungmonitor"><img src="assets/samsungmonitor.jpg" alt="originpc" class="cards"></a>
            <p class="transparent">Samsung monitor</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="gygabyte"><img src="assets/gygabytemotherboard.jpg" alt="gygabytemotherboard" class="cards"></a>
            <p class="transparent">Gygabyte motherboard</p>
          </div>
        </div>
      </div>
    </div>
    <div id="cards1">
      <div class="row">
        <div class="column">
          <div class="card">
            <a href="nvidia"><img src="assets/nvidiagraphiccard.jpg" alt="nvidiagraphiccard" class="cards"></a>
            <p class="transparent">Nvidia graphics Card</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="amd"><img src="assets/amdgraphiccard.jpg" alt="amdgraphiccard" class="cards"></a>
            <p class="transparent">AMD graphics card</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="hyperx"><img src="assets/hyperxcmemorycard.jpg" alt="hyperx" class="cards"></a>
            <p class="transparent">HyperX memory card</p>
          </div>
        </div>
      </div>
    </div>




  </div>

  <footer>
    <!-- footer code goes here -->
    <div class="top-section">
      <div id="contact">
        <h3 class="ball">Contact Us</h3>
        <p class="ball">+7(747)9618827</p>
        <p class="ball">TechLab@gmail.com</p>
      </div>
      <div id="info">
        <h3 id="information">Information</h3>
        <ul class="ball">
          <li class="ball"><a class="ball" href="about_us">About Us</a></li>

        </ul>
      </div>


    </div>
    <hr>
    <p class="ball">© 2022 TechLab Inc.</p>
  </footer>
</body>

</html>
