<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechLab: Computer Parts, PC Components, Gaming Systems, Automotive Parts, Office Supplies, and more </title>
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <header>
    <img class="logo" src="assets/logo.svg" alt="logo">

    <nav>

      <ul class="nav_links">
        <li><a href="/">Home</a> </li>
        <li><a href="register">Sign in / Register</a> </li>
  
      </ul>
    </nav>
    <a class="cta" href="https://t.me/tanuki_tech"><button>Contact</button></a>
  </header>
  <div class="container">
    <img id="computerspage" src="assets/computerspage.png" alt="computerspage">
    <div class="catcomputers">
      <h2>Categories</h2>
      <ul style="list-style-type:none;">
      <li>Desktop</li>
      <li>Laptops</li>
      <li>Mac</li>
      <li>Workstations</li>
      </ul>
      <h2>Brands</h2>
      <ul style="list-style-type:none;">
      <li>Apple</li>
      <li>Origin PC</li>
      <li>iBuyPower</li>
      <li>CyberPowerPC</li>
      <li>Xidax</li>
      <li>MainGear</li>
      <li>Digital Storm</li>
      </ul>
    </div>
    <div id="cards">
      <div class="row">
        <div class="column">
          <div class="card">
            <a href="macpc"><img src="assets/mac.jpg" alt="mac" class="cards" ></a>
            <p class="transparent">Mac pc</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="originpc"><img src="assets/originpc.jpg" alt="originpc" class="cards"></a>
            <p class="transparent">Origin pc</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="ibuypowerpc"><img src="assets/ibuypower.jpg" alt="ibuypower" class="cards"></a>
            <p class="transparent">Ibuypower pc</p>
          </div>
        </div>
      </div>
    </div>
    <div id="cards1">
      <div class="row">
        <div class="column">
          <div class="card">
            <a href="cyberpowerpc"><img src="assets/cyberpowerpc.jpg" alt="cyberpowerpc" class="cards"></a>
            <p class="transparent">Cyberpower pc</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="xydaxpc"><img src="assets/xidax.jpg" alt="xidax" class="cards"></a>
            <p class="transparent">Xidax pc</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <a href="maingearpc"><img src="assets/maingear.jpg" alt="maingear" class="cards"></a>
            <p class="transparent">Maingear pc</p>
          </div>
        </div>
      </div>
    </div>




  </div>

  <footer>
    <!-- footer code goes here -->
    <div class="top-section">
      <div id="contact">
        <h3 class="ball">Contact Us</h3>
        <p class="ball">+7(747)9618827</p>
        <p class="ball">TechLab@gmail.com</p>
      </div>
      <div id="info">
        <h3 id="information">Information</h3>
        <ul class="ball">
          <li class="ball"><a class="ball" href="about_us">About Us</a></li>

        </ul>
      </div>


    </div>
    <hr>
    <p class="ball">© 2022 TechLab Inc.</p>
  </footer>
</body>

</html>
