<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechLab: Computer Parts, PC Components, Gaming Systems, Automotive Parts, Office Supplies, and more </title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <img class="logo" src="assets/logo.svg" alt="logo">

    <nav>

      <ul class="nav_links">
        <li><a href="/">Home</a> </li>
        <li><a href="register">Sign in / Register</a> </li>
      
      </ul>
    </nav>
    <a class="cta" href="https://t.me/tanuki_tech"><button>Contact</button></a>
  </header>
  <h1 class="welcome"> What are you looking for?</h1>
  <div class="container">
    <div class="box">
      <div id="images" class="content">
        <a href="computers"><img id="computers" src="assets\computers.jpg" alt="computers" width="360"></a>
        <h2 id="content-h2">Ready-to-use computers</h2>
        <p id="content-p">A variety of PC builds for every taste. Desktops for Gaming, Photo & Video Editing, Study and Office Work.</p>
      </div>
    </div>
    <div class="box">
      <div id="images1" class="content">
        <a href="components"><img src="assets\components.jpg" alt="components" height="202.5" width="300"></a>
        <h2 id="content-h2">Computer components</h2>
        <p id="content-p">Build your own dream PC. Best desktop processors, video cards, memories, SSDs, cooling systems and etc.</p>
      </div>
    </div>
  </div>
  <footer>
    <!-- footer code goes here -->
    <div class="top-section">
      <div id="contact">
        <h3 class="ball">Contact Us</h3>
        <p class="ball">+7(747)9618827</p>
        <p class="ball">TechLab@gmail.com</p>
      </div>
      <div id="info">
        <h3 id="information">Information</h3>
        <ul class="ball">
          <li class="ball"><a class="ball" href="about_us">About Us</a></li>

        </ul>
      </div>


    </div>
    <hr>
    <p class="ball">© 2022 TechLab Inc.</p>
  </footer>
</body>

</html>
